@*
Main Acceptation/Production View
*@

<!DOCTYPE html>
<html>
    <head>

        <script type="text/javascript" src="@Url.Content("~/Client/Library/deployment/ext-all-debug.js")"></script>
    
        <script type="text/javascript" src="@Url.Content("~/Client/GenForm/app/InitializeApplication.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Client/GenForm/app/Application.js")"></script>

    </head>
    <body>
        <div>

        </div>
    </body>
</html>
