<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HAL-2008_Formularium2010" connectionString="Data Source=HAL-2008;Initial Catalog=Formularium2010;Integrated Security=True"
            providerName="System.Data.SQLClient" />
        <add name="BIZ1001_Formularium2010" connectionString="Data Source=biz1001;Initial Catalog=Formularium2010;Integrated Security=True"
            providerName="System.Data.SQLClient" />
        <add name="INDURAIN_Formularium2010" connectionString="Data Source=INDURAIN;Initial Catalog=Formularium2010;Integrated Security=True"
            providerName="System.Data.SQLClient" />
        <add name="Informedica.GenForm.Database.ORM.Properties.Settings.Formularium2010ConnectionString"
            connectionString="Data Source=HAL-2008;Initial Catalog=Formularium2010;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Informedica.GenForm.Database.ORM.Properties.Settings.Formularium2010ConnectionString1"
            connectionString="Data Source=hal-2008;Initial Catalog=Formularium2010;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Informedica.GenForm.Database.ORM.Properties.Settings.FormulariumArthurConnectionString"
            connectionString="Data Source=hal-2008;Initial Catalog=FormulariumArthur;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Informedica.GenForm.Database.ORM.Properties.Settings.GenFormConnectionString"
            connectionString="Data Source=hal-2008;Initial Catalog=GenForm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Informedica.GenForm.Database.ORM.Properties.Settings.GenFormConnectionString1"
            connectionString="Data Source=HAL-WIN7\INFORMEDICA;Initial Catalog=GenForm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
