@*
Debug version of GenForm, using dynamic loading of Ext classes
*@
<!DOCTYPE html>

<html>
<head>

    <title></title>

    <script type="text/javascript" src="@Url.Content("~/Client/Library/extjs/bootstrap.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Client/GenForm/app/InitializeDebug.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Client/GenForm/app/Debug.js")"></script>

</head>
<body>
    <div>
    
    </div>
</body>
</html>
