<?xml version="1.0" encoding="utf-8"?>
<settings>
  <serversettings>
    <machine>
    </machine>
    <machine>
    </machine>
    <machine>
      <key>HAL-WIN7</key>
      <GenForm>WsE/6d7gcG1tg9gh6GvjNDLhsz3XnDOBDlVChLeoX389GVuglGaBA0A3ow/0D7kqDAyscnd1cDjTblT9ZZUyuKWbbe+oHmpwNCHaueUQA5vMOnSI5lv8I7wIsIGt352i</GenForm>
      <ProductieDatabase>WsE/6d7gcG1tg9gh6GvjNDLhsz3XnDOBDlVChLeoX389GVuglGaBA0A3ow/0D7kqDAyscnd1cDjTblT9ZZUyuKWbbe+oHmpwNCHaueUQA5vMOnSI5lv8I7wIsIGt352i</ProductieDatabase>
      <TestDatabase>WsE/6d7gcG1tg9gh6GvjNDLhsz3XnDOBDlVChLeoX389GVuglGaBA0A3ow/0D7kqDAyscnd1cDjTblT9ZZUyuKWbbe+oHmpwNCHaueUQA5vMOnSI5lv8I7wIsIGt352i</TestDatabase>
    </machine>
  </serversettings>
</settings>